/* Pour les écrans de bureau (desktop) */

@media screen and (min-width: 1024px) {
    
    header {
        color: white;
        background-color: var(--primary-color);
        padding: 10px;
        width: 100vw;
        height: 10vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        justify-content: space-around;
        gap: 20px;
    }

    header a {
        text-decoration: none;
        color: white;
    }

    /* Surbrillance au survol et au focus */
    header a:hover,
    header a:focus {
        color: var(--accent-color);
    }

    #logo {
        width: 75px;
        height: 75px;
        margin: 10px;
    }

    /*Icônes explicites pour la navigation*/
    .fa-house:before {
        content: '\f015';
    }

    .fa-user:before {
        content: '\f007';
    }

    /*Page index.html*/

    /*Carousel*/
    .slider-wrapper {
        margin: 1rem;
        position: relative;
        overflow: hidden;
    }

    .slides-container {
        height: 1200px;
        /* height: calc(100vh - 2rem); */
        width: 100%;
        display: flex;
        overflow: scroll;
        scroll-behavior: smooth;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .slide-arrow {
        position: absolute;
        display: flex;
        top: 0;
        bottom: 0;
        margin: auto;
        height: 4rem;
        background: white;
        border: none;
        width: 2rem;
        font-size: 3rem;
        padding: 0;
        cursor: pointer;
        opacity: 0.5;
        transition: opacity 100ms;
    }

    .slide-arrow:hover, .slide-arrow:focus {
        opacity: 1;
    }

    #slide-arrow-prev {
        left: 0;
        padding-left: 0.25rem;
        border-radius: 0 2rem 2rem 0;
    }

    #slide-arrow-next {
        right: 0;
        padding-left: 0.75rem;
        border-radius: 2rem 0  0 2rem;
    }

    .slide {
        width: 100%;
        height: 100%;
        flex: 1 0 100%;
    }

    .slide:nth-child(1) {
        background-color: #49b293;
    }

    .slide:nth-child(2) {
        background-color: #b03532;
    }

    .slide:nth-child(3) {
        background-color: #6a478f;
    }

    .slide:nth-child(4) {
        background-color: #da6f2b;
    }

    .presentation {
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;

    }

    .card-container {
        width: 100vw;
        height: max-content;
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        justify-content: space-around;
        margin: 0 auto;
        background-color: var(--secondary-color);
    }

    .card {
        width: 250px;
        height: max-content;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        margin: 5px;
        padding: 0 0 10px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
    }

    .card:hover {
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    }

    .card-header, .card-footer {
        color: #fff;
        background-color: #333;
        padding: 10px;
        width: 100%;
        height: max-content;
        border-radius: 10px 10px 0 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        justify-content: space-around;
    }

    .card-body {
        background-color: rgba(255, 255, 255, 0.5);
        width: 100%;
        height: max-content;
        padding:  10px 5px 10px 5px;
        margin: 0;
    }

    .card-footer {
        padding: 10px;
        margin: 0;
        width: 250px;
        height: max-content;
        border-radius: 0 0 10px 10px;
    }

    button {
        color: white;
        background-color: var(--tertiary-color);
        padding: 10px;
        border-radius: 10px;
    }

    button a {
        color: white;
        text-decoration: none;
    }

    button:hover {
        color: var(--tertiary-color);
        background-color: var(--accent-color);
    }

    button:focus {
        outline: 2px solid var(--accent-color);
    }

    /*Page quizz.html*/

    .quizz-container {
        width: 100vw;
        height: 100vh;
        display: grid;
        /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-template-rows: auto 1fr auto;
        grid-gap: 10px; */
        align-items: center;
        justify-items: center;
        background-color: var(--background-color);
    }
    
    .quizz-name {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        grid-column: 1 / -1;
    }
    
    #score {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        padding: 10px;
        grid-column: 1/-1;
    }
    
    .question-card {
        width: 400px;
        height: max-content;
        border: 1px solid var(--primary-color);
        border-radius: 10px;
        margin: 5px;
        padding: 0 0 10px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
    }
    
    #question {
        width: 90%;
        margin: 10px;
    }
    
    #question p{
       font-weight: 800;
    }
    
    #category {
        color: white;
        background-color: var(--primary-color);
        width: 100%;
        padding: 10px;
        position: relative;
    }
    
    #category::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -10px;
        border-top: 10px solid var(--primary-color);
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
    }
    
    .question-body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    input[type="radio"] {
        display: none;
    }
    
    input[type="radio"]:checked + label::before {
        background-color: var(--secondary-color);
    }
    
    input[type="submit"] {
        color: white;
        background-color:var(--tertiary-color);
        border: none;
        border-radius: 10px;
        padding: 10px;
        margin: 10px;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    
    input[type="submit"]:hover {
        transform: scale(1.1);
    }
    
    label {
        display: flex;
        align-items: center;
        margin: 5px;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    
    label:hover {
        opacity: 0.8;
    }
    
    label::before {
        content: "";
        width: 20px;
        height: 20px;
        border: 2px solid var(--secondary-color);
        border-radius: 50%;
        margin-right: 10px;
    }
    
    #answer {
        width: 90%;
        margin: 10px;
    }
    
    #answerText {
        font-weight: 800;
        color: var(--accent-color);
    }
    
    #answerText::after {
        content: "";
        width: 20px;
        height: 20px;
        border: 2px solid var(--accent-color);
        border-radius: 50%;
        margin-left: 10px;
        display: inline-block;
        vertical-align: middle;
    }

    /*Pied de page*/

    footer {
        background-color: var(--primary-color);
        padding: 10px;
        width: 100vw;
        height: 10vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        justify-content: center;
        position: relative;
        bottom: 0;
    }
}
