/*CSS Général*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --background-color: #e8fccf;
    --primary-color: #3da35d;
    --secondary-color: #3e8914;
    --tertiary-color: #134611;
    --accent-color: #96e072;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
}

header {
    color: #fff;
    background-color: #333;
    padding: 10px 0;
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    gap: 20px;
}

header h1 {
    margin: 0;
}

#logo {
    width: 75px;
    height: 75px;
    margin: 10px;
}

header ul {
    list-style-type: none;
    padding: 0;
}

header ul li {
    display: inline;
    margin: 0 10px;
}

header ul li a {
    color: #ffffff;
    text-decoration: none;
}

.presentation {
    padding: 20px;
    text-align: center;

}

.card-container {
    width: 100vw;
    height: max-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    padding: 20ppx;
    margin: 0 auto;
    background-color: var(--secondary-color);
}

.card {
    width: 300px;
    height: max-content;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin: 20px;
    padding: 0 0 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.card-header, .card-footer {
    color: #fff;
    background-color: #333;
    padding: 10px;
    text-align: center;
    width: 250px;
    height: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}

.card-body {
    background-color: rgba(255, 255, 255, 0.5);
    width: max-content;
    padding:  10px 5px 10px 5px;
    margin: 10px;
    height: max-content;
}

button {
    color: white;
    background-color: var(--tertiary-color);
    padding: 10px;
    border-radius: 10px;
}

button a {
    color: white;
    text-decoration: none;
}

.quizz-container {
    width: 100vw;
    height: 100vh;
}

.quizz-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
}

#score {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
    padding: 10px;
}

.question-card {
    width: 300px;
    height: max-content;
    border: 1px solid black;
    border-radius: 10px;
    margin: 5px;
    padding: 0 0 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

#question p{
   font-weight: 800;
}

#category {
    background-color: var(--primary-color);
    width: 100%;
    padding: 10px;

}

input[type="submit"] {
    color: white;
    background-color: red;
    border: none;
    border-radius: 10px;
    padding: 10px;
}

footer {
    color: #fff;
    background-color: #333;
    text-align: center;
    padding: 10px;
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
}
